.Programs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.programs-header{
    display: flex;
    gap: 5rem;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-style: italic;
}

.program-categories{
    display: flex;
    gap: 1rem;
}

.category{
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 2rem;
    color: white;
    justify-content: space-between;
    transition: 300ms all;
}

.category>:nth-child(1){
    width: 2rem;
    height: 2rem; fill: white;
    padding-bottom: 1rem;
}

.category>:nth-child(2){
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.category>:nth-child(3){
    font-size: 0.7;
    line-height: 25px;
}

.category:hover{
    background-color: var(--orange);
    cursor: pointer;
}

@media screen and (max-width: 768px){

    .programs-header{
        flex-direction: column;
        gap: 1rem;
        font-size: x-large;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }

    .program-categories{
        flex-direction: column;
        gap: 1rem;
    }

}